/* ================common css start=================== */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
.section-title h3{
    font-weight: bolder;
    margin-bottom: 0;
}
.hr-style{
    border: 5px dotted white;
    border-bottom: none;
    width: 50px;
    border-color: #000;
    margin: auto;
}
/* ================common css end=================== */
/* ===========header start=========== */
header{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.navbar{
    padding: 1% 10%;
    background-color: rgba(0, 0, 0, 0.3);
}
.navbar-icon{
    color: #fff;
}
.navbar-brand img{
    width: 60px;
    height: auto;
}
.nav-link{
    color: white;
    margin: 10px;
    border-radius: 5px;
    transition: .4s;
    text-align: center;
}
.nav-link:hover{
    background-color: #2980b9;
    color: white;
    transform: scale(1.1);
}
.banner-container{
    height: 100vh;
}
.banner-container h1{
    font-size: 3.5rem;
    background-color: rgba(7, 101, 189, 0.8);
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Handlee', cursive;
}
@media (max-width: 768px){
    .nav-link{
        background-color: rgb(0, 0, 0, 0.7);
    }
    .banner-container h1{
        font-size: 2.5rem;
    }
}
/* ===========header end=========== */
/* =============features start=========== */
#features{
    padding: 5% 10%;
    background-color: #e8ded2;
}
.features-col{
    border: 1px solid #ff02c0;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
    transition: 0.4s;
}
.features-col:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px rgb(0, 0, 0);
}
.icon-style{
    background-color: #bb0aac;
    color: #fff;
    padding: 15px;
    margin: 5px 0;
}
/* =============features end=========== */
/* ================about-me start================= */
#about-me{
    padding: 4% 10%;
    background-color: #e8ded2;
}
#about-me p{
    font-size: 0.9rem;
    font-weight: light;
    margin-bottom: 0;
}
#about-me a{
    font-size: 0.9rem;
    font-weight: lighter;
    color: #000;
    text-decoration: underline;
}
.achieve-dsc span{
    font-weight: 700;
}
.star i{
    width: 20px;
}
/* ================about-me end================= */
/* =============tutorial starts=============== */
#tutorial{
    padding: 4% 10%;
    background-color: #a2d2ca;
}
.card{
    transition: .4s;
    border: 1px solid #ff02c0;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}
/* =============tutorial end=============== */
/* ===============feedback start============= */
#feedback{
    padding: 5%;
    background-color: #53aaa8;
}
.feedback-img{
    width: 150px;
    height: auto;
    margin-bottom: 5px;
}
.carousel-item{
    text-align: center;
    padding: 7% 15%;
    font-style: italic;
    font-size: 0.8rem;

}
/* ===============feedback end============= */
/* ============contact start here============ */
#contact{
    padding: 2% 10%;
    background-color: #5eaaa8;
}
.form-group label{
    margin-bottom: 0;
    font-weight: bold;
}
/* ============contact end here============ */
/* =============footer start============= */
footer{
    padding: 1% 10%;
    background-color: #056676;
}
footer a{
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
footer a:hover{
    color: black;
    text-decoration: underline;
}
/* =============footer end============= */
